<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django starting</title>
</head>
<body>
    <h1> Hey this is  html template from django.</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut quia aperiam eos, adipisci ipsum dolores enim doloremque veritatis accusamus eligendi expedita corrupti delectus debitis a, ipsam sit quibusdam dolorem dolore iste praesentium rerum quas. Enim, quasi nisi. Explicabo itaque ea laboriosam dolorum delectus accusantium fugiat, doloribus architecto quae, at ullam? Tempora quos hic earum tenetur velit deserunt at, perferendis molestiae est ab rem, optio, perspiciatis autem natus. Est placeat aliquid nemo voluptatum consequatur porro asperiores laboriosam deserunt illum aspernatur optio sequi quibusdam corporis ut, ad autem quisquam nostrum hic amet voluptate aperiam! Eaque voluptas ipsa ad numquam maxime sapiente doloremque!</p>
    <script>
        console.log('hello this is js.')
    </script>
    
</body>
</html>